Source: qiosk
Section: web
Priority: optional
Maintainer: Adam Schubert <adam.schubert@sg1-game.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/salamek/qiosk
#Vcs-Git: https://anonscm.debian.org/collab-maint/qiosk.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/qiosk.git

Package: qiosk
Architecture: any
Depends: ${misc:Depends}, libqt6webenginewidgets6, libqt6websockets6, qt6-virtualkeyboard-plugin, qml6-module-qtquick-controls, qml6-module-qt-labs-folderlistmodel, qml6-module-qtqml-workerscript, qml6-module-qtquick-layouts, qml6-module-qtquick-window
Conflicts: qt6-qiosk
Description: QT Kiosk is simple kiosk browser written in QT
 <insert long description, indented with spaces>
