Source: qiosk
Section: web
Priority: optional
Maintainer: Adam Schubert <adam.schubert@sg1-game.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/salamek/qiosk
#Vcs-Git: https://anonscm.debian.org/collab-maint/qiosk.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/qiosk.git

Package: qiosk
Architecture: any
Depends: ${misc:Depends}, libqt5webenginewidgets5, qtvirtualkeyboard-plugin, qml-module-qtquick-controls, qml-module-qt-labs-folderlistmodel
Description: QT Kiosk is simple kiosk browser written in QT
 <insert long description, indented with spaces>
